inbound email address test is case sensitive

The test at https://github.com/stefanw/froide/blob/master/froide/foirequest/foi_mail.py#L134 is case sensitive while I don't think it should be. According to RFC 1035, section 3.1:

> Name servers and resolvers must compare [domains] in a case-insensitive manner

Currently it makes a difference in my inbound mail goes to `Mail.Example.com` or `mail.example.com`

True, seems reasonable to compare lower cased versions only.